<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>

<a th:href="@{/admin}">Назад</a>


<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
  <label for="username">Enter username:</label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:#ff0000" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>


  <br/>

  <label for="password">Enter password:</label>
  <input type="text" th:field="*{password}" id="password">
  <div style="color:#ff0000" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>

  <br/>

  <label for="email">Enter email:</label>
  <input type="text" th:field="*{email}" id="email">
  <div style="color:#ff0000" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>

  <br/>

  <select th:field="*{roles}" >
    <option th:value="'1'" th:text="USER"></option>
    <option th:value="'2'" th:text="ADMIN"></option>
  </select>

  <br/>

  <input type="submit" value="Create!">
</form>

</body>
</html>